<div class="container">

  <div class="create-new-profile">

    <% if @errors %>
      <h1><%= @errors %></h1>
    <% else %>
      <h1> <%= @profile.name %> </h1>
      <p> <%= @profile.essay1 %> </p>
      <p>Your link to edit:  <%= link_to "/"+@profile.url, profile_path(@profile.url) %> </p><br>
    <% end %>

  </div>

  <a href="/">Return</a><br>

  <% @comments.each do |comment| %>
    <p><%= comment.feedback %> </p><hr>
  <% end %>

</div>


